/*
*	##############################
*	custom-base.css
*	-	provides basic styles
*	- useful for quick layouting / styling
*	+++++
*	version: 1.0
*	+++++
*
*	Reassign Variables
*	@alert-message-background: @brand-info;
*	.alert {
*		background-color: @alert-message-background;
*	}
*	##############################
*/

/*
*	=============================================
*	@IMPORT
*	=============================================
*/
@import "basic-layout.less";
@import "grid.less";
@import "navi-dropdown.less";
@import "gallery.less";


/*
*	=============================================
*	COLORS
*	=============================================
*/
@color-base: 		rgb(255,255,255);		// 	white
@color-0: 			rgb(000,000,000);		// 	black
@primary: 			rgb(51,172,226);			// 	blue
@success: 			rgb(49,218,156);			// 	green
@info: 					rgb(247,235,202);		//		pale
@warning: 			rgb(232,183,50);			//		yellow
@danger: 				rgb(218,54,68);			// 	red
@primary-light:	lighten(@primary, 5%);
@success-light:	lighten(@success, 5%);
@info-light:			lighten(@info, 5%);
@warning-light:	lighten(@warning, 5%);
@danger-light:		lighten(@danger, 5%);
@primary-dark:	darken(@primary, 5%);
@success-dark:	darken(@success, 5%);
@info-dark:			darken(@info, 5%);
@warning-dark:	darken(@warning, 5%);
@danger-dark:		darken(@danger, 5%);
/*
*	=============================================
*	FONTS
*	=============================================
*/
.font-base () {
	font-family: 'OpenSans', sans-serif;
	 font-weight: normal;
	 font-style: normal;
	}
.font-FA () {
	font-family: 'FontAwesome';
	 font-weight: normal;
	 font-style: normal;
	}
@fs-base:			14px;
@fs-large:         	ceil((@fs-base * 1.25)); // ~18px
@fs-small:         	ceil((@fs-base * 0.85)); // ~12px
@fs-h1:            	floor((@fs-base * 2.6)); // ~36px
@fs-h2:            	floor((@fs-base * 2.15)); // ~30px
@fs-h3:            	ceil((@fs-base * 1.7)); // ~24px
@fs-h4:            	ceil((@fs-base * 1.25)); // ~18px
@fs-h5:            	@fs-base;
@fs-h6:            	ceil((@fs-base * 0.85)); // ~12px
@line-height-base:        1.42857143;

/*
*	=============================================
*	ICONS
*	=============================================
*/
@icon-primary: 		"\f054";				// spitze Klammer rechts
@icon-success: 		"\f00c";				// Haken
@icon-info: 				"\f0eb";				// Glühbirne
@icon-warning:		"\f071";				// Warndreieck
@icon-danger:			"\f00d";				// X
@icon-list:				"\f105";				// spitze Klammer rechts
/*
*	=============================================
*	LAYOUT STYLES
*	=============================================
*/

// Grid components
@outer-container:	1920px;
@inner-container:	1200px;
@breakpoint-small:  768px;
@breakpoint-medium: 992px;
@breakpoint-large:  1200px;

@space-base: 		15px;
@space-large: 		ceil((@space-base * 2.0));
@em-base:			5em;
@medium-em:		ceil((@em-base * 2.0));
@large-em:			ceil((@em-base * 3.0));
@xlarge-em:		ceil((@em-base * 4.0));
@none-percent: 		0%;
@small-percent:		25%;
@onethird-percent: 33%;
@medium-percent:	50%;
@twothird-percent: 66%;
@large-percent:		75%;
@xlarge-percent:	100%;
@index-0:			0;
@index-1:			1000;
@index-2:			2000;
@index-3:			3000;
@index-4:			4000;
@index-5:			5000;
@opacity-strong:	0.25;
@opacity-medium:	0.5;
@opacity-light:		0.75;
@opacity-vlight:	0.9;
@opacity-none:		1;

/*
*	=============================================
*	MIXINS
*	=============================================
*/
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.hyphen () {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	}

/*
*	=============================================
*	SITE-SPECIFIC
*	=============================================
*/

*{box-sizing: border-box;}
html, body {height: 100%;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	body
*	%%%%%%%%%%%%%%%%%%%%
*/
body {
	.font-base;
	.hyphen;
	font-size: @fs-base;
	background: @info;
	margin: 0;
	overflow-x: hidden;
}

// Rahmen für gesamte Seite
.wrapper {
	max-width:@outer-container;
	margin: 0 auto;
}

// Rahmen für den Inhalt
.content {
	max-width:@inner-container;
	margin:0 auto;
}

.header, .footer {
	min-height: @medium-em;
	background-color: @primary;
	padding: none;
}
.main {
	padding-left: @space-base;
	padding-right: @space-base;
	line-height: @line-height-base;
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	navigation
*	%%%%%%%%%%%%%%%%%%%%
*/

#navigation {
	background-color: @info;
}

/*
// Standard
label[for="nav-trigger"] {display:none;}
.mobile_nav{display: none;}
@media all and (max-width:650px){
.navi {display:none;}
.mobile_nav{display: block;}
.header {margin-top:60px;}

label[for="nav-trigger"] {
		display: block;
	}
}

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  list-style: none;
  background: @info;
  padding:0;
  padding-top:45px;
}

.nav-item {
  width:100%;
  border-bottom: 1px solid @info-light;
}

.nav-item a {
  display: block;
  padding: @space-base;
  background: @info;
  text-decoration: none;
}

.nav-item a:hover {
  color: @color-base;
  background:@primary;
}

.nav-item:before {
	content: '';
	padding:0;
}
*/
/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: @space-base; top: @space-base;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.5s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.mobile_nav {
	width:100%;
	height: 60px;
	background: @warning;
	position: fixed;
	z-index:0;
	top:0;
}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	back to top
*	%%%%%%%%%%%%%%%%%%%%
*/

.top_btn {
	display:none;
	position:fixed;
	right:5px;
	bottom:5px;
	padding:@space-base;
	background: @primary;
	border-radius:2px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	color:#fff;
	z-index:50000;
	}

.top_btn:hover {
	background: rgba(0,0,0,0.5);
	text-decoration:none;
	color:#fff;
	}

.top_btn:before {
	.font-FA ();
	content: "\f062";
	}



.bgdanger {background-color:@danger};
.bgwarning {background-color:@warning};
.bginfo {background-color:@info};
.bgsuccess {background-color:@success};
.bgprimary {background-color:@primary};
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	links
*	%%%%%%%%%%%%%%%%%%%%
*/
a {
	&:link, &:visited {
		color:@primary;
		text-decoration: none;
	}
	&:hover, &:active, &:focus {
		background-color: @primary;
		color: @color-base;
	}
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	headlines
*	%%%%%%%%%%%%%%%%%%%%
*/
h1, h2, h3, h4, h5, h6 {
	color:@danger;
}
h1 {
	font-size: @fs-h1;
	text-transform: uppercase;
	}
h2 {
	font-size:@fs-h2;
	}
	/*
*	%%%%%%%%%%%%%%%%%%%%
* 	lists
*	%%%%%%%%%%%%%%%%%%%%
*/
ul {
	padding: @space-base;
	list-style-type: none;
	& li:before {
		.font-FA;
		content: @icon-list;
		padding-right: 5px;
	}
	& ul {
		padding:0 @space-base;
		margin-left:-5px;
		& li:before {
			.font-FA;
			content:  @icon-list@icon-list;
			padding-right: 5px;
		}
		& ul {
			margin-left:3px;
			& li:before {
			.font-FA;
			content:  @icon-list@icon-list@icon-list;
			padding-right: 5px;
			}
		}
	}
}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	forms
*	%%%%%%%%%%%%%%%%%%%%
*/
input {
	.border-radius(4px);
	border: 1px solid @primary;
	font-size: @fs-base;
	padding: @space-base;
	&:hover, &:active, &:focus {
		box-shadow: 0px 0px 5px @primary-light;
		outline: none;
	}
}
.btn {
	display:inline-block;
	padding:0.5em;
	.border-radius(4px);
	border:none;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	opacity: @opacity-vlight;
	font-size: 100%;
	&.primary {
		background-color: @primary;
	}
	&.success {
		background-color: @success;
	}
	&.info {
		background-color: @info;
	}
	&.warning {
		background-color: @warning;
	}
	&.danger {
		background-color: @danger;
	}
	&:hover, &:active, &:focus {
		text-decoration:none;
		opacity: @opacity-none;
		}
	}
	/*
*	%%%%%%%%%%%%%%%%%%%%
* 	alert
*	%%%%%%%%%%%%%%%%%%%%
*/
.alert {
    .border-radius(4px);
    display: block;
	padding:@space-base;
	margin-top:@space-base;
	margin-bottom:@space-base;
    vertical-align: middle;
    	&:before {
			.font-FA;
			padding-right: @space-base;
		}
		&.primary {
			background-color: @primary-light;
			&:before {
				content: @icon-primary;
	    			}
	    	}
		&.success {
			background-color: @success-light;
			&:before {
				content: @icon-success;
	    			}
	    	}
	    &.info {
			background-color: @info-light;
			&:before {
				content: @icon-info;
	    			}
	    	}
	    &.warning {
			background-color: @warning-light;
			&:before {
				content: @icon-warning;
	    			}
	    	}
	    &.danger {
			background-color: @danger-light;
			&:before {
				content: @icon-danger;
	    			}
	    	}
	}
/*
*	%%%%%%%%%%%%%%%%%%%%
* 	tables
*	%%%%%%%%%%%%%%%%%%%%
*/
.tbl {
	width: @xlarge-percent;
	border-collapse: collapse;
	margin: @space-base 0;
	background: @info;
	& th, th:hover {
		background-color: @warning;
		padding: @space-base;
		color:@color-0;
	}
	& tr:nth-child(2n+1) {
		background-color: @info-light;
		}
	& tr:hover {
		background-color:@danger;
		color: @color-base;
		}
	& td {
		width:@onethird-percent;
		text-align: center;
		padding: @space-base;
	}
}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	vertical slider
*	%%%%%%%%%%%%%%%%%%%%
*/
@slide_width: 100%;
@no_articles: 2;

.slide_container {
	overflow: hidden;
	margin:0 auto;
}

.slide_content {
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}
.cont_wrap {width: @slide_width * @no_articles;}
.cont_slice {float:left;width: @slide_width / @no_articles;background: #fff;height: 100%;}

.slide_nav {
    display: block;
    vertical-align: middle;
    color: #333;
	text-align: center;
}

.nav_btn:hover {
	background:#fff;
}
